<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utils.ListenerClass"></listener>
	</listeners>
	<test thread-count="5" name="Functionality">
		<classes>
			<class name="tests.LogInTest" />
			<class name="tests.ForgotPasswordTest" />
			<class name="tests.RegisterationTest" />
			<class name="tests.WorkspacesTest" />
			<class name="tests.ProjectsHandlingTest" />
			<class name="tests.TemplatesTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
